%div.ml-8
  %label.mt-1.block.bg-neutral-800.flex.items-center.justify-center.rounded-full.px-5.py-1.group
    %svg.text-neutral-600.w-6.h-6{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    %input.border-none.bg-transparent.text-sm{ type: "text", placeholder: "Search Hooter", class: "focus:outline-none focus:ring-0" }
  %div.p-4.bg-neutral-800.w-full.my-4.rounded-2xl.flex.justify-between.flex-col.gap-2.items-start
    %span.text-white.text-lg.font-bold.block Get Verified
    %span.text-white.text-sm.font-semibold.block Subscribe to unlock new features.
    = link_to "Get Verified", "#", class: "text-white text-sm font-semibold bg-blue-500 py-2 justify-center rounded-full inline-block px-4"
  %div.p-4.bg-neutral-800.w-full.my-4.rounded-2xl.flex.justify-between.flex-col.gap-2
    %span.text-white.text-lg.font-bold.block What's Happening
    %div{ class: "hover:bg-neutral-700 -mx-4 px-4 relative" }
      %span.text-neutral-500.text-sm Cats &#183 Trending
      %span.text-white.text-sm.font-semibold.block #Caturday
      %span.text-neutral-500.text-sm 5.3M Tweets
      %div.text-white.text-lg.absolute.right-4.top-0.rounded-full.px-2.py-2{ class: "hover:bg-slate-600 hover:text-blue-400" }
        %svg.w-6.h-6{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    %div{ class: "hover:bg-neutral-700 -mx-4 px-4 relative" }
      %span.text-neutral-500.text-sm Dogs &#183 Trending
      %span.text-white.text-sm.font-semibold.block #Dogurday
      %span.text-neutral-500.text-sm 5.3M Tweets
      %div.text-white.text-lg.absolute.right-4.top-0.rounded-full.px-2.py-2{ class: "hover:bg-slate-600 hover:text-blue-400" }
        %svg.w-6.h-6{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
